# IntelliJ IDEA
.idea/
*.iml
out/

# Maven
target/

# Gradle
.gradle/
build/

# Java compiled files
*.class

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/